<% layout("/layouts/boilerplate")%>
<body>
  <div class="row">
    <div class="col-8 offset-2">
      <h3>Create A New Listing</h3>
      <form
        method="POST"
        action="/listings"
        novalidate
        class="needs-validation"
        enctype="multipart/form-data"
      >
        <div class="mb-3">
          <label for="text" class="form-label">Title</label>
          <input
            type="text"
            name="listing[title]"
            placeholder="Enter Your Title"
            class="form-control"
            required
          />
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Please Enter Your Title</div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label"> Description</label>
          <textarea
            name="listing[description]"
            cols="30"
            rows="10"
            placeholder="Enter Description"
            class="form-control"
            required
          ></textarea>
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Please Enter Your Description</div>
        </div>
        <div class="mb-3">
          <label for="image" class="form-label">Upload Image</label>
          <input
            type="file"
            name="listing[image]"
            placeholder="Enter url"
            class="form-control"
          />
        </div>
        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input
              name="listing[price]"
              placeholder="Enter Price"
              class="form-control"
              required
            />
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Please enter your price</div>
          </div>
          <div class="mb-3 col-md-8">
            <label for="location" class="form-label">Location</label>
            <input
              type="text"
              name="listing[location]"
              placeholder="Enter Location"
              class="form-control"
              required
            />
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Please Enter Your Location</div>
          </div>
        </div>

        <div class="mb-3">
          <label for="country" class="form-label">Country</label>
          <input
            type="text"
            name="listing[country]"
            placeholder="Enter Country"
            class="form-control"
            required
          />
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Please Enter Your Country Name</div>
        </div>
        <br />
        <button class="btn btn-dark">Add</button>
      </form>
    </div>
  </div>
</body>
